<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>User</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container my-2" align="center">

    <h3>Student List</h3>
    <a th:href="@{/add}" class="btn btn-primary btn-sm mb-3">Add Student</a>
    <table style="width:80%" border="1" class = "table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>Id</th>
            <th>Student Name</th>
            <th>City</th>
            <th>Birth Date</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="student:${all_students_list}">
            <td th:text="${student.studentId}"></td>
            <td th:text="${student.studentName}"></td>
            <td th:text="${student.city}"></td>
            <td th:text="${#dates.format(student.birthDate, 'yyyy-MM-dd')}" ></td>
            <td>
                <a th:href="@{/showFormForUpdate/{id}(id=${student.studentId})}" class="btn btn-primary">Update</a>
                <a th:href="@{/deleteStudent/{id}(id=${student.studentId})}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>